.stat-card{
    padding: 1rem;

&.overallRatings{
    background-color: #0aa699;
}

    &__header{
        display: flex;
        align-items: center;
        line-height: 1;
    }

    &__stats-wrap{
        display: flex;
        align-items: flex-start;
    }
}